@inherits LayoutComponentBase

<div>
        <div class="bg-[#fbe2e3] absolute top-[-1rem] -z-10 right-[2rem] h-[50vh] w-[31.25rem] rounded-full blur-[30rem] 
        sm:w-[68.75rem] dark:bg-[#905263] 2xl:right-[22rem] 2xl:blur-[20rem] 2xl:top-[-4rem]"></div>
        <div class="bg-[#dbd7fb] absolute top-[-1rem] -z-10 left-[-35rem] h-[50vh] w-[50rem] rounded-full blur-[40rem] 
        sm:w-[68.75rem] md:left-[-33rem] lg:left-[-28rem] xl:left-[-15rem] 2xl:left-[10rem] dark:bg-[#676394] 2xl:blur-[16rem]">
        </div>
        <NavMenu />
                <main class=" max-w-7xl mx-auto mt-24 flex min-h-screen flex-col px-6 font-sans antialiased">
                        @Body
                </main>
        <FooterMain />
</div>