@page "/about"

    
<div class="px-6 md:px-12 xl:px-6" id="session-about">
    <SessionAbout />
      <div class="mt-4 flex flex-row gap-5">
        <ButtonPrimary Href="/contact" Text="Contact me"/>
        <ButtonSecondary Href="/work" Text="My Work" />
      </div>
</div>
@code {

}
