@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Rendering
@using System.Threading.Tasks

<div class="@ContainerClasses">
    <div class="w-fill border-b-dark/5 relative flex items-center gap-[6px] border-b bg-white/[0.05%] p-2 dark:border-b-white/10">
        <div class="h-3.5 w-3.5 cursor-no-drop rounded-full bg-[#fb5f57]"></div>
        <div class="h-3.5 w-3.5 cursor-no-drop rounded-full bg-[#fdbf2d]"></div>
        <div class="h-3.5 w-3.5 cursor-no-drop rounded-full bg-[#27cb3f]"></div>
        <div class="absolute bottom-0 top-0 flex w-full items-center justify-center opacity-50" aria-hidden="true">
            Console
        </div>
    </div>
    <div class="min-h-[200px] overflow-x-hidden whitespace-nowrap p-4">
      
            <ConsoleLine>
                list github --user=
                <a href="@($"https://github.com/CodeWithAbkhan")" target="_blank" aria-label="@($"See  CodeWithAbkhan github")">
                    <text>"CodeWithAbkhan"</text>
                </a>
            </ConsoleLine>
            <ConsoleResponse>
               
                <div>
                    <span aria-hidden="true"> + </span>
                    <span class="font-semibold">08 Open Source</span> repositories on Github (total size:  930 MB
                </div>
                <div>
                    <span aria-hidden="true"> + </span>
                    <span class="font-semibold">16 Contributions</span> since 10 in last year)
                </div>
               
            </ConsoleResponse>
            <ConsoleLine>contact --discord</ConsoleLine>

            <ConsoleResponse>
                 + <span className="font-semibold">User:</span>
                    <NavLink href="https://discord.com/users/CodeWithAbkhan" target="_blank">
                       CodeWithAbkhan
                    </NavLink>
                    <br />+ <span className="font-semibold">Link:</span>
                    <NavLink href="https://discord.gg/t6ee3Pc8" target="_blank">
                        https://discord.gg/t6ee3Pc8
                    </NavLink>

            </ConsoleResponse>
            <ConsoleLine Blinking=true />
    </div>
</div>

@code {
   
  
   

    private string ContainerClasses => "card shadow-code block w-full rounded-md border border-b-black/15 bg-[#fffffe] font-mono text-[15px] text-sm transition-colors motion-reduce:transition-none dark:border-[1px] dark:border-neutral-800 dark:bg-[#121412]";
}
