

<div class="lg:py-16 md:grid grid-cols-1 md:grid-cols-5">
    <div class="hidden md:flex md:col-span-3 lg:col-span-2">
        <div class="rounded-full dark:bg-[#181818] bg-slate-200 w-[300px] h-[300px] lg:w-[400px] lg:h-[400px] relative">
            <img
            src="images/hero-image.png"
            alt="hero image"
            class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            width="300px"
            height="300px"
            />
        </div>
    </div>
    <div class="md:col-span-3">
        <h1 class="relative mx-auto mt-8 text-[41px] font-semibold tracking-[-0.03em] dark:text-white md:text-left lg:text-[47px] xl:text-[65px]">
            About
        </h1>
        <p class="text-gray-700 dark:text-neutral-400 text-base lg:text-xl mb-6">
            I have been coding for more than 10 years. I started my journey at the end of 2014.
            At first, I learned HTML, CSS, SQL Databases, C#, and ASP.NET to build websites.
            My first project was a simple Desktop App using .NET Windows Form with C# and SQL Server (~ December 2014).
            In July 2016, I started learning ASP.NET WebForm. I also created my first major project - Recipe Maker Website.
            In 2021, I started learning Blazor .NET Core and Bootstrap, Tailwind CSS.
        </p>
    </div>
</div>

